
PushSDK_Release/bin/AndroidManifest.xml

PushSDK_Release/bin/R.txt

PushSDK_Release/bin/res/crunch/drawable/ic_launcher.png

PushSDK_Release/bin/pushsdk_release.jar

PushSDK_Release/bin/classes/com/tgx/push/sdk/R.class

PushSDK_Release/bin/classes/com/tgx/push/sdk/R$string.class

PushSDK_Release/bin/classes/com/tgx/push/sdk/R$drawable.class

PushSDK_Release/bin/classes/com/tgx/push/sdk/R$attr.class

PushSDK_Release/bin/classes/com/tgx/push/sdk/BuildConfig.class

PushSDK_Release/bin/classes/com/tgx/push/sdk/PushSDK_R$string.class

PushSDK_Release/bin/classes/com/tgx/push/sdk/PushSDK_R.class

PushSDK_Release/gen/com/tgx/push/sdk/R.java

PushSDK_Release/gen/com/tgx/push/sdk/BuildConfig.java

PushSDK_Release/res/values/pushsdk_thirdparty_string.xml
